{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
Профіль
{%  endblock  %}

{% block body %}

        <div class="container-fluid">
            <h1 class=" mt-4 ">Профіль:</h1>
            
         <div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{current_user.pib}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Ваш електроний адрес:  {{current_user.email}}</h6>
    <p class="card-text"><strong>Ваш номер телефона:</strong> {{current_user.phone_number}}</p>
        <p class="card-text"><strong>Дата реєстрацій</strong> {{current_user.ts_registry}}</p>
        
    
    
    
  </div>
</div>
        <div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Змінити дані:</h5>
     <form method="post" action="/dashboard">
                {{form.hidden_tag()}}
                {{wtf.form_field(form.email)}}
                {{wtf.form_field(form.pib,plahe)}}
                {{wtf.form_field(form.phone)}}
                
                
	       
                <button type="submit" class="btn btn-success">Змінити</button>
            </form>
        </div>
        </div>

</div>
{% endblock %}