{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
Замовлення
{%  endblock  %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="container-xl mt-4">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
  {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>
</div>
{% endfor %}

        <div class="container-fluid">
            <h1 class=" mt-4 ">Замовлення:</h1>
   {% for order in order %}         
         <div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{order.id_orders}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Ваше ім'я:  {{order.user}}</h6>
    <p class="card-text"><strong>Місто відправкі вантажу:</strong> {{order.city}}</p>
        <p class="card-text"><strong>Вантаж якій треба перевести:</strong> {{order.cargo}}</p>
              <p class="card-text"><strong>Вага вантажу :</strong> {{order.weight}}    
              </p>
                    <p class="card-text"><strong>Вулиця звідкі треба забрати вантаж:</strong> {{order.street_sender}}</p>
                          <p class="card-text"><strong>Номер квартири/офісу:</strong> {{order.house_number}}</p>
                                <p class="card-text"><strong>Дата відправкі :</strong> {{order.date_senders}}</p>
                                      <p class="card-text"><strong>Дата отримання вантажу:</strong> {{order.date_recipients}}</p>
                                         <p class="card-text"><strong>Метод якім оплачується замовлення:</strong> {{order.pay_method}}</p>
                                            <p class="card-text"><strong>Сума до сплати:</strong> {{order.suma}}</p>
                                              <a class="btn btn-success" href ="{{ url_for('edit_order',id = order.id_orders) }}">Редагувати</a>
    </li> 

                                          
 
    
    
    
  </div>
</div>
{% endfor %} 

{% if prev_url %} 
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" href ="{{ prev_url }}">Previous page</a>
    </li> 
    </ul>

{% endif %}
{% if next_url %}
 <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" href ="{{ next_url }}">Next page</a>
    </li> 
    </ul>

{% endif %}
{% endblock %}